@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

blockquote[xml|lang]{
	font-style: italic;
}

/* bridgeheads */
[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}
/* end of bridgeheads */

/* all epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] cite{
	font-style: normal;
	font-variant: small-caps;
	margin-top: 1em;
}
/* end all epigraphs */

/* epigraphs in section headers */
section > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: initial;
}

@supports(display: table){
	section > header [epub|type~="epigraph"]{
		display: table;
	}
}
/* end epigraphs in section headers */

/* letters */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* end of letters

/* poem/verse/song */
[epub|type~="z3998:poem"] p,
[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

p span.i4{
	padding-left: 5em;
	text-indent: -1em;
}

p span.i8{
	padding-left: 9em;
	text-indent: -1em;
}
/* end of poem/verse/song */

/* custom */
q{
	text-style: italic;
}

section[epub|type~="dedication"] blockquote{
	text-align: center;
}

section[epub|type~="dedication"] b{
	font-style: normal;
	font-variant: small-caps;
}

section[epub|type~="dedication"] > blockquote > header{
	margin-bottom: 1em;
}

section[epub|type~="dedication"] > blockquote > header p{
	text-align: center;
}

#dedication-1-1 > p,
#dedication-3-1 > p,
#dedication-4-1 > p{
	font-style: italic;
	margin-bottom: 1em;
	text-align: center;
	text-indent: 0;
}

#dedication-4-1 span{
	font-style: normal;
}

#dedication-1-2 footer p:last-of-type,
#dedication-4-1 footer{
	text-align: initial;
}

#prologue-4-1{
	margin-top: 20vh;
}

#prologue-4-1 [epub|type~="bridgehead"] + *{
	margin-top: 2em;
}

#chapter-4-1-1 blockquote:last-of-type p{
	text-indent: 0;
}
/* end of custom */
